h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #778899;
}

form {
    border: 3px solid #f1f1f1;
    width:40%;
    display: table;
    margin: 0 auto;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.login_box {
    padding: 16px;
}
